:root {
  --button-radius-color: #dfdfe0;
  --light-color: #fff;
  --dark-color: #000;
  --light-gray-color: #f7f7f7;
  --gray-color: #7f7f7f;
  --secondary-color: #05a081;
  --dark-hover: #2c343e;

  --sm: 576px;
  --md: 769px;
}

/* GLOBAL STYLES */

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* CUSTOM STYLES */

.header {
  background-image: url('../images/bg-header.jpeg');
  background-size: cover;
  padding: 1rem 1.5rem;
  min-height: 31.25rem;
  box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 50%);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__options {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__options .nav__option--menu {
  font-size: 1.5rem;
  color: var(--light-color);
  cursor: pointer;
}

.nav__option .nav__join {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid var(--light-color);
  outline: none;
  cursor: pointer;
  background-color: var(--light-color);
  font-weight: 700;
}

.search {
  display: flex;
  justify-content: center;
}

.search__content {
  padding-top: 5.5rem;
  color: var(--light-color);
  width: min(100%, 40rem);
}

.search__heading {
  font-weight: 600;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: -0.02em;
  margin: 0;
}

.search__form {
  background-color: var(--light-color);

  border-radius: 0.5rem;
  padding: 0.3rem;
  margin-top: 2rem;

  display: flex;
  justify-content: space-between;
}

.search__form input {
  border: none;
  padding: 0.9rem 0.5rem;
  outline: none;
  width: 100%;
  text-indent: 0.2rem;
}

.search__form-button {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--gray-color);
}

.search__form-type i,
.search__form-button i {
  font-size: 1.3rem;
}

.search__form-button:hover {
  color: var(--secondary-color);
}

.search__form-type {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  border-radius: 0.5rem;
  outline: none;
  border: 3px solid var(--light-gray-color);
  background: var(--button-radius-color);
}

.search__trends {
  display: flex;
  margin-top: 2rem;
  font-weight: 700;
}

.search__trends span {
  color: hsla(0, 0%, 100%, 0.7);
}

.search__trends--list {
  display: flex;
}

.search__trends--list li:hover {
  color: hsla(0, 0%, 100%, 0.7);
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

.nav__option .nav__option--button {
  display: none;
}

.nav__option--button {
  color: white;
  font-weight: 600;
}

.nav__option--button--arrow {
  margin-left: 0.3rem;
}

.nav__option--button:hover {
  filter: brightness(0.7);
  transition: filter 0.5s ease;
}

.categories {
  margin: 2.5rem 0rem;

  display: flex;
  margin-left: 1rem;
}

.categories__options {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.categories__option a {
  color: var(--dark-color);
  font-weight: 600;
  border-radius: 50px;
  padding: 0.8rem 1.3rem;
  cursor: pointer;
}

.categories__option a:target {
  color: var(--light-color);
  background-color: var(--dark-color);
}

.categories__option a:target:hover {
  background-color: var(--dark-hover);
  transition: background-color 0.5s ease;
}

.gallery {
  margin: 1rem;
}

.gallery__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery__header select {
  height: 2.5rem;
  border-radius: 0.3rem;
  padding: 0 0.5rem;
  border-color: var(--gray-color);
}

.gallery__header h4 {
  font-size: 1.5rem;
  color: var(--dark-hover);
}

.gallery__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.gallery__item {
  position: relative;
}

.gallery__item i {
  position: absolute;
  right: .5rem;
  bottom: .5rem;
  color: var(--light-color);
  padding: .8rem;
  font-size: 1.5rem;
}


.gallery__item i:hover {
  background-color: var(--button-radius-color);
  border-radius: 1rem;
  color: var(--dark-hover)
}


.gallery__item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery__item:nth-child(odd) img {
  margin-top: 4rem;
}

.gallery__item-margin {
  margin-top: -4rem;
}

/* @media (min-width: 970px) {
  .gallery__content {
    grid-template-columns: repeat(3, 1fr);
  }
} */

@media (min-width: 576px) {
  .categories {
    justify-content: center;
    margin-left: 0;
  }

  .categories__options {
    flex-direction: row;
    gap: 0;
  }
}

@media (min-width: 769px) {
  .nav__option .nav__option--button {
    display: block;
  }

  .nav__option .nav__option--menu {
    display: none;
  }
}
