:root {
  --button-radius-color: #dfdfe0;
  --light-color: #fff;
  --dark-color: #000;
  --light-gray-color: #f7f7f7;
  --gray-color: #7f7f7f;
  --secondary-color: #05a081;
  --dark-hover: #2c343e;
  --font-gray-color: #bfbfbf;

  --sm: 576px;
  --md: 769px;
}

/* GLOBAL STYLES */

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* GLOBAL BUTTON */
.button {
  background-color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 700;
  outline: none;
  padding: 0.5rem 1rem;
}

.button-dark {
  background-color: var(--dark-color);
  border: 1px solid var(--gray-color);
}

.button-dark:hover {
  background-color: var(--gray-color);
}

/* CUSTOM STYLES */

.header {
  background-image: url('../images/bg-header.webp');
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 50%);
  min-height: 31.25rem;
  padding: 1rem 1.5rem;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav__options {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.nav__options .nav__option--menu {
  color: var(--light-color);
  cursor: pointer;
  font-size: 1.5rem;
}

.search {
  display: flex;
  justify-content: center;
}

.search__content {
  color: var(--light-color);
  padding-top: 5.5rem;
  width: min(100%, 40rem);
}

.search__heading {
  font-size: 33px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 40px;
  margin: 0;
}

.search__form {
  background-color: var(--light-color);

  border-radius: 0.5rem;

  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0.3rem;
}

.search__form input {
  border: none;
  outline: none;
  padding: 0.9rem 0.5rem;
  text-indent: 0.2rem;
  width: 100%;
}

.search__form-button {
  background-color: transparent;
  border: none;
  color: var(--gray-color);
  outline: none;
}

.search__form-type i,
.search__form-button i {
  font-size: 1.3rem;
}

.search__form-button:hover {
  color: var(--secondary-color);
}

.search__form-type {
  align-items: center;
  background: var(--button-radius-color);
  border: 3px solid var(--light-gray-color);

  border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
  outline: none;
}

.search__trends {
  display: flex;
  font-weight: 700;
  margin-top: 2rem;
}

.search__trends span {
  color: hsla(0, 0%, 100%, 0.7);
}

.search__trends--list {
  display: flex;
}

.search__trends--list li:hover {
  color: hsla(0, 0%, 100%, 0.7);
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.nav__option .nav__option--button {
  display: none;
}

.nav__option--button {
  color: white;
  font-weight: 600;
}

.nav__option--button--arrow {
  margin-left: 0.3rem;
}

.nav__option--button:hover {
  filter: brightness(0.7);
  transition: filter 0.5s ease;
}

.categories {
  display: flex;
  margin: 2.5rem 0rem;
  margin-left: 1rem;
}

.categories__options {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.categories__option a {
  border-radius: 50px;
  color: var(--dark-color);
  cursor: pointer;
  font-weight: 600;
  padding: 0.8rem 1.3rem;
}

.categories__option a:target {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.categories__option a:target:hover {
  background-color: var(--dark-hover);
  transition: background-color 0.5s ease;
}

.gallery {
  margin: 1rem;
  margin: 0 auto;
  max-width: 1350px;
  padding: 1rem;
}

.gallery__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.gallery__header select {
  border-color: var(--gray-color);
  border-radius: 0.3rem;
  height: 2.5rem;
  padding: 0 0.5rem;
}

.gallery__header h4 {
  color: var(--dark-hover);
  font-size: 1.5rem;
}

.gallery__content {
  display: flex;
  gap: 1rem;
}

.gallery__column--desktop {
  display: none;
}

@media (min-width: 970px) {
  .gallery__column--desktop {
    display: block;
  }
}

.gallery__item {
  margin-top: 1rem;
  position: relative;
}

.gallery__item i {
  bottom: 0.5rem;
  color: var(--light-color);
  font-size: 1.5rem;
  padding: 0.8rem;
  position: absolute;
  right: 0.5rem;
}

.gallery__item i:hover {
  background-color: var(--button-radius-color);
  border-radius: 1rem;
  color: var(--dark-hover);
}

.gallery__item img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

@media (min-width: 576px) {
  .categories {
    justify-content: center;
    margin-left: 0;
  }

  .categories__options {
    flex-direction: row;
    gap: 0;
  }
}

@media (min-width: 769px) {
  .nav__option .nav__option--button {
    display: block;
  }

  .nav__option .nav__option--menu {
    display: none;
  }
}

.footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.footer .sections {
  display: grid;
  grid-template-areas:
    'company'
    'social'
    'pexels'
    'stock';

  letter-spacing: -0.015em;
  padding: 2rem 1rem;
}

.sections .social__title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

.social p {
  color: var(--font-gray-color);
  font-size: 1rem;

  grid-area: social;
  line-height: 1.6rem;
  margin: 0;
}

.social__button {
  align-items: center;
  color: var(--dark-color);
  display: inline-flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.social__button i {
  font-size: 1.5rem;
}

.social__button:nth-last-of-type(1) {
  margin-left: 0.5rem;
}

.social__networks {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.social__networks i {
  color: var(--light-color);
  font-size: 2rem;
}

.pexels__others li a,
.company__options li a,
.stock__options li a,
.copyright__options li a {
  color: var(--font-gray-color);
  display: block;
  font-size: 1.3rem;
  line-height: 2rem;
}

.stock .stock__options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.stock .stock__options li a {
  font-size: 1rem;
}

.copyright {
  margin-top: 5rem;
  text-align: center;
}

.copyright .copyright__button {
  color: var(--light-color);
  margin-top: 1rem;
}

.pexels {
  grid-area: pexels;
}

.company {
  grid-area: company;
}

.stock {
  grid-area: stock;
}

@media (min-width: 900px) {
  .footer .sections {
    gap: 2rem;
    grid-template-areas:
      'social pexels stock'
      'social company stock';
  }
}

@media (min-width: 1000px) {
  .footer .sections {
    grid-template-areas: 'social pexels company stock';
  }
}
